<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'title.about' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col size="6">
      <img src="https://drive.google.com/uc?export=view&id=1Jxr_VsN1HQJomckwRHqfOwFhp4E5sIiy">
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Autor: Alberto Moreno González
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-card-subtitle>
            Asignatura: Acceso a Datos / Hora de Libre Configuración
          </ion-card-subtitle>
          <ion-card-subtitle>
            Curso: 2º Desarrollo de Aplicaciones Multiplataforma (DAM)
          </ion-card-subtitle>
          <ion-card-subtitle>
            Centro: CPIFP Málaga Tech Park (desglose IES Campanillas)
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-grid>
</ion-content>
