@font-face {
  font-family: 'Mantinia Regular';
  src: url('/src/assets/fonts/mantinia_regular/mantinia_regular.otf') format('otf');
}
*{
  font-family: 'Mantinia Regular';
}

ion-col {
  padding: 20px;
}

ion-card-title {
  margin-top: 1%;
  margin-left:2%;
}

ion-img {
  padding:0;
}