<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'title.followedUsers' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col [ngStyle]="{'display':getItemDisplay(follow)}" *ngFor="let follow of getFollowList() | async" size="12" size-md="6" size-xl="3">
      <app-user *ngIf="follow.idUser==getCurrentUser()?.id" [user]="getUserById(follow.idFollowed)" (onDelete)="unfollow(follow)"></app-user>
    </ion-col>
  </ion-row>

</ion-content>
