<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-img src="{{getBossById(completedb.idBoss)?.image}}"></ion-img>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fecha de Inicio</ion-label>
      <ion-input placeholder="Inserte la echa de inicio" formControlName="startDate" type="date"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fecha de Fin</ion-label>
      <ion-input placeholder="Inserte la fecha de Fin" formControlName="finishDate" type="date"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Notas</ion-label>
      <ion-input placeholder="Inserte alguna apreciación" formControlName="notes" type="text"></ion-input>
    </ion-item>
    <div>
      <ion-button [disabled]="!form.valid" type="submit">{{mode=="Edit" ? "Editar" : "Añadir"}}</ion-button>
    </div>
  </form>
</ion-content>
