@font-face {
   font-family: 'Mantinia Regular';
   src: url('/src/assets/fonts/mantinia_regular/mantinia_regular.otf') format('otf');
 }
 *{
   font-family: 'Mantinia Regular';
 }
 
 

ion-grid{
  margin:0 auto;
  max-width:400px; 
}
ion-card-header{
   border-bottom: 2px solid var(--ion-color-medium);
}
.login-container{
   display:flex;
   width:100%;
   height:100%;
   justify-content:center;
   align-items:center;
}

.login-submit-button{
   margin-top:20px;
   display:flex;
   justify-content:flex-end;
}

#register-button {
   display:flex;
   justify-content:flex-end;
   margin-bottom:15px;
   margin-right:15px;
}

#loginBox {
   height: 600px;;
}

.btn_eye_icon{
   width:15%;
   position:absolute;
   right: 0;
   bottom: 4px;
   z-index: 999;
   --background: transparent;
   ion-icon{
       font-size: 22px;
       color:#757575;
   }
 }
 
 .btn_eye_icon:focus{
   outline: none  !important;
 }