<ion-header>
 
</ion-header>

<ion-content>
  <div class="login-container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Inicio de sesión</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
                <ion-item>
                  <ion-label position="floating">Usuario</ion-label>
                  <ion-input placeholder="Usuario" formControlName="username" type="text"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Contraseña</ion-label>
                  <ion-input placeholder="Contraseña" formControlName="password" type="password"></ion-input>
                </ion-item>
                <div class="login-submit-button">
                  <ion-button [disabled]="!form.valid" type="submit">Iniciar sesión</ion-button>
                </div>
              </form>
            </ion-card-content>

            <div id="register-button">
              <ion-button (click)="onNewUser()" type="button">Registrarse</ion-button>
            </div>
          </ion-card>
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
</ion-content>
