<ion-app>
  <ion-split-pane *ngIf="(user.userLogged$ | async)" contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-chip>
          <ion-avatar (click)="logOut()">
            <ion-img src="{{(user.user$ | async).profilePick}}"></ion-img>
          </ion-avatar>
          <ion-button fill="clear" (click)="logOut()" type="button">{{'home.logOut' | translate}}</ion-button>
        </ion-chip>
        <ion-list id="inbox-list">
          <ion-list-header>{{'Elden Track' | uppercase}}</ion-list-header>
          <ion-note>{{'home.slogan' | translate}}</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label (click)="isNotFollowPage()">{{'title.' + p.title | translate}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-grid>
          <ion-row>
            <ion-note>{{'home.language' | translate}}</ion-note>
          </ion-row>
          <ion-row>
              <ion-fab>
                <ion-fab-button (click)="onLanguage()">
                  <ion-icon name="language-outline"></ion-icon>
                </ion-fab-button>
              </ion-fab>
          </ion-row>
        </ion-grid>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  <ion-router-outlet *ngIf="!(user.userLogged$ | async)"></ion-router-outlet>
</ion-app>
