<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-toolbar>
      <ion-title>Registrarse</ion-title>
    </ion-toolbar>
    <ion-item>
      <ion-label position="floating">Nombre del Usuario</ion-label>
      <ion-input placeholder="Nombre" formControlName="name" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellidos del Usuario</ion-label>
      <ion-input placeholder="Apellidos" formControlName="surname" type="text"></ion-input>
    </ion-item>
    <app-date-time-selectable [atributeName]="'birthdate'" formControlName="birthdate"></app-date-time-selectable>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input placeholder="Email" formControlName="email" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input placeholder="Usuario" formControlName="username" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input placeholder="Contraseña" formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Foto de Perfil</ion-label>
      <ion-input placeholder="Foto de Perfil" formControlName="profilePick" type="text"></ion-input>
    </ion-item>
    <div>
      <ion-button [disabled]="!form.valid" type="submit">{{mode=="Edit" ? "Editar" : "Registrarse"}}</ion-button>
      <ion-button color="danger" (click)="onDismiss()" type="button">Cancelar</ion-button>
    </div>
  </form>
</ion-content>
