<ion-card *ngIf="user">
  <ion-card-header>
    <img alt="{{user.name}} {{user.surname}}" src="{{user.profilePick}}">
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <ion-card-title>{{user.name}} {{user.surname}}</ion-card-title>
          <ion-card-subtitle>{{user.username}}</ion-card-subtitle>
          <ion-card-subtitle>{{'user.birthdate' | translate}}: {{user.birthdate | date:'shortDate':undefined:locale.locale}}</ion-card-subtitle>
        </ion-col>
        <ion-col size="3">
          <ion-button (click)="onFollowUser()"><ion-icon name="person-add-outline" ></ion-icon></ion-button>
          <ion-button color="danger" (click)="onDeleteClick()"><ion-icon name="trash-outline" ></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>
  <ion-card-content>
    Progreso: {{progress(user)*100}} %
  </ion-card-content>
  <ion-progress-bar [value]="progress(user)"></ion-progress-bar>
</ion-card>
