<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'title.exploreUsers' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col *ngFor="let user of getUserList() | async" size="12" size-md="6" size-xl="3">
      <app-user [ngStyle]="{'display':getItemDisplay(user.email)}" [user]="user" (onDelete)="onDeleteUser($event)"></app-user>
    </ion-col>
  </ion-row>
</ion-content>
